@import url("https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Inter:wght@400;600;700&display=swap");

.title {
    font-family: "Hedvig Letters Sans", sans-serif;
    font-family: "Inter", sans-serif;
    /* background-color: rgb(111, 167, 239); */
    /* padding: 10px 20px; */
    /* border: solid 1px rgb(111, 167, 239); */
    /* color: rgb(101, 164, 246); */
    color: rgb(31, 121, 239);
}

.App {
    text-align: center;
    padding: 25px 20px;
}

.grid-col-header {
    color: rgb(31, 121, 239);
}
